

/* Eric Meyer CSS Reset begins here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Eric Meyer CSS Reset ends here */

* {
    box-sizing:border-box;
    max-width:100%;
}

html {
    font-size:62.5%;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size:1.7rem;
}

body a {
    text-decoration:none;
    /* font-size:2rem; */

}

p {
    margin: 2.5rem 0;
}

/* nav starts here */
nav {
    text-align:center;
    margin:3% 0;
}

nav a {
    display:inline-block;
    width:150px;
    padding:1rem 1.5rem;
    margin:0 8%;
    border-radius:10px;
    color:white;
}

nav a:hover {
    color:black;
    background-color:lightgreen;
}

header nav {
    margin-bottom:5%;
}

.button-one {
    background-color:#FF764E;
}

.button-two {
    background-color:#5ED3EB;
}

.button-three {
    background-color:#FFCD69;
}

/* nav ends here */
/* rest of header starts here */

header {
    margin-bottom: 5%
}

#logo {
    width:25%;
    display:inline-block;
}

#logo img {
    border-radius:50%;
}

#header-section-two {
    text-align:center;
}

#header-text {
    display:inline-block;
    text-align:center;
}

#header-text p {
    padding:2% 0;;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size:5rem;
    margin-bottom: 5%;
}

.small-paragraph {
    width: 50%;
    margin:0 0 0 25%;
}

/* HEADER ends here */

/* INFO section starts here */

.info {
    margin:0 auto;
    text-align:center;
    background-color:#DDB9A3;
    width:90%;
    color:white;
    padding:1px;
    margin-bottom: 3%;
}

/* INFO section ends here */

/* ATTENTION section starts here */

.attention {
    text-align:center;
    font-size:1.5rem;
    width:30%;
    margin:0 auto;
    padding-bottom:8%;
}

.attention img {
    width:40%;
    display:block;
    margin:5% auto;
}

.attention p {
    margin-bottom:10%;
    font-weight:100;
}

.attention p .bold-text{
    font-weight:900; /* I'd like this to be bolder */
    font-weight:bold;
}

/* ATTENTION section ends here */

/* FOOTER starts here */


.footer-image {
    height:27rem;
    overflow:hidden;
}

footer{
    background-color:#F9E7DC;
    padding-bottom:.5%;
}
